.map-wrapper {
    position: relative;
    width: 800px;
    height: 600px;
    font-family: monospace;
    font-size: 16px;
}

.map-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.map-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
}

#timer {
    position: absolute;
    top: 8px;
    left: 10px;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 195px;
    height: 70px;
    background: white;
    border-radius: 3px;
    border: 1px solid #666;
}

button {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 32px;
    margin: 0;
    padding: 0 12px;
    background: white;
    border-radius: 2px;
    border: 1px solid #666;
    font-family: monospace;
    cursor: pointer;
}

#play-button {
    left: 10px;
}

#restart-button {
    left: 102px;
}
